*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: iranL;
	src: url(Fonts/IRANSansWeb_Light.ttf);
}
body {
	font-family: iranL;
}
main {
	display: flex;
	justify-content: center;
	height: 100vh;
}
main > section {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

main > section > form {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

main > section > form > input {
	padding: 7px;
	outline: none;
	font-weight: bold;
	text-align: right;
	font-family: iranL;
	width: 250px;
}

main > section > form > input::placeholder {
	font-weight: bolder;
	font-family: iranL;
	text-align: right;
}
main > section > form > button {
	outline: none;
	border: none;
	margin-left: 20px;
	width: 150px;
	font-weight: bold;
	border: 1px solid aqua;
}
#app {
	padding: 5px;
	margin-top: 20px;
	border: 1px solid rgba(139, 139, 139, 0.411);
	width: 100%;
	box-shadow: 5px 2px 5px 1px gray;
}

.wrapper > span:first-child {
	margin-top: 15px;
	font-size: 50px;
	display: inline-block;
}

.wrapper > article > h2,
h3 {
	padding: 5px;
}
.wrapper > article > p {
	font-weight: bold;
	padding: 15px;
}
.wrapper > div {
	margin-top: 15px;
}
.wrapper > div > span {
	padding: 5px;
	margin: 15px;
	font-weight: bold;
	display: inline-block;
	width: 35px;
	height: 30px;
}
.wrapper > div > span:nth-of-type(1) {
	background: rgb(156, 71, 71);
}

.wrapper > div > span:nth-of-type(2) {
	background: rgb(120, 158, 16);
}

.wrapper > div > span:nth-of-type(3) {
	background: rgb(82, 96, 180);
}

.t1 {
	background: rgb(46, 43, 43);
}

.t2 {
	background: rgb(202, 221, 236);
}
.t3 {
	background: rgb(133, 35, 212);
}
.t4 {
	background: rgb(141, 28, 28);
}
.t1 {
	background: rgb(233, 233, 233);
}
